.footer {
  padding: 79px 0 20px;
}

.footer__container {
  max-width: 1200px;
  padding: 0 30px;
  box-sizing: border-box;
  margin: 0 auto;
}

.footer__text {
  color: #a0a0a0;
  text-align: center;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 18px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-top: 1px solid #e8e8e8;
  padding-top: 20px;
}

.footer__year,
.footer__link {
  color: #000;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  text-align: center;
}

.footer__link {
  text-decoration: none;
  transition: all 0.3s;
}

.footer__link:hover {
  opacity: 0.7;
}

.footer__year {
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .footer__content {
    padding-top: 22px;
  }
}

@media screen and (max-width: 425px) {
  .footer__container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer__text {
    font-size: 12px;
  }

  .footer__content {
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    gap: 12px;
  }

  .footer__year {
    margin-right: 0;
    margin-top: 18px;
    order: 1;
    color: #a0a0a0;
  }
}
