.saved-movies {
  padding-top: 144px;
  padding-bottom: 80px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.saved-movies__container {
  flex-grow: 1;
  max-width: 1200px;
  width: 100vw;
  padding: 0 30px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .saved-movies {
    padding-top: 156px;
  }
}

@media screen and (max-width: 425px) {
  .saved-movies {
    padding-top: 154px;
    padding-bottom: 84px;
  }

  .saved-movies__container {
    padding-left: 10px;
    padding-right: 10px;
  }
}